    /*list style*/
    .ulbreadcrumb {
        padding: 10px 16px;
        list-style: none;
        background-color: #eee;
    }

    /*horizontal display*/

    ul.breadcrumb li{
        display: inline;
        font-size: 18px;
    }

    /*addition of slash before each new list element*/
    ul.breadcrumb li+li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
    }

    ul.breadcrumb li a {
        color: rgb(172, 172, 172);
        text-decoration: none;

    }

    ul.breadcrumb li a:hover {
        color: rgb(139, 139, 139);
        text-decoration: underline;
    }

