/*Page Settings*/
body{
  margin-bottom: 5vw;
}

.content{
  margin: 5vw 10vw 0vw 15vw;
  color: #838383;
}

h2{
  font-size: 30px;
  color: #000000;

  margin-top: 3vw;
  margin-bottom: 2vw;
}

p,li{
  font-size: 22px;
}

.top{
  padding-bottom: 2vw;
}

.list li{
  font-weight: bold;
  color: black;
}

.subList li{
  font-weight: normal;
  font-size:22px;
}
/*Dropdown Settings*/
.FAQDrop {

    background-color: #dfdfdf;
    color: #000000;
    padding: 20px;
    margin-left: 10%;
    width: 80%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: bold;
  }
  
  button{
    font-size:20px;
  }
  .active, .FAQDrop:hover {
    background-color: #b6b2b2;
  }
  
  .sect{
    background-color: #eee;
    display: none;
    overflow: hidden;

    margin-left: 10%;
    width: 80%;
  }

  .sect p{
    font-size:22px;
    padding: 20px;
  }

  .sect ul{
    padding-bottom:1vw;
  }