/*Contains style for header.php, including nav bar*/

/*Font*/
@font-face {
    font-family: "OpenSauce";
    src: url("../OpenSauce Font/OpenSauceSans-Regular.ttf");
}

/*Link Settings*/
a:link {
    color: #FFFFFF;
}


a:visited {
    color: #FFFFFF; /*needs 2 b changed*/
}


a:hover {
    color: #FFFFFF;
}

a:active {
    color: #FFFFFF;
}

/*Dropdown + Nav Settings*/
.dropdown ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;

    font-size: 23px;

    margin: 0;
    padding: 1vw 0vw 1vw 0vw;
    
                                    /*Most of this is pulled from my individual proj., sorry if 
                                    some of this code is redundant, just take it out if it dosent
                                    make sense*/
    background: #3F3F3F;
    color:#FFFFFF;
}

.dropdown li{
    padding: 20px;
    position: relative;
    
}

.dropdown .submenu{
    position: absolute;
    background:#EF2A2A;
    top:37px;

    visibility:hidden;
    text-align: center;
}

.dropdown li:hover{
    background:#9c2e2e; /* darker red on hover */
}

.dropdown li:hover .submenu{
    visibility:visible;
}

.dropdown li a{
    text-decoration: none;
}

/* Header Settings*/
body{
    margin: 0px;
    font-family: OpenSauce;
}

header{
    width:100%;
    text-align:center;
}

img{
    display:inline-block;
    margin: 0 auto;

    width: 20vw;

    padding: 1vw 0 1vw 0;
}