body{
    margin-bottom: 5vw;
}

.content{
    margin: 5vw 10vw 0vw 15vw;
}

p,.contList{
    font-size: 23px;
    background-color: #D9D9D9;
    padding: 3vw;
    color: #000000;
}

.contList{
    font-size: 20px;
    line-height: 30px;
    list-style: none;
}

.titleHead{
    background-color: #a3a3a3;
    color:black;
    text-align: center;
    font-size:28px;

    padding: 1vw;
    max-width:25vw;
    margin: 2vw 25vw 2vw 25vw;
}

.quiz{
    background-color: #F24E4E;
    color: white;

    text-shadow: 3px 3px 5px black;

    font-size: 30px;
    padding: 3vw;

    border:none;
}

.center{
    text-align: center;
    margin: 3vw;
}

a{
    text-decoration: none;
}

h3{
    font-size: 28px;
    text-align: center;
}

.contactCont{
    background-color:#D9D9D9;
    padding: 1vw;

}

.contactCont p{
    background-color: white;
    color:black;

    font-size: 22px;
    text-align: center;

    line-height: 150%;
}