/*Page Content*/
.content{
    margin: 0vw 10vw 0vw 10vw;
    float: left;
    color: #838383;
}

figure{
    float: right;
    margin: 1vw 1vw 1vw 10vw;
}

.sect{
    margin-right: 25vw;
}

.pdp7{
    margin-top: 5vw;
}

figcaption{
    text-align: center;
}

h2{
    font-size: 30px;
    color: #000000;

    margin-top: 3vw;
    margin-bottom: 2vw;
}

p, ol{
    font-size: 23px;
}